# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/

# Downloaded data (re-created on first run)
data/cache/*
!data/cache/.gitkeep

# OS / editor
.DS_Store
.idea/
.vscode/
